:root {
  font-family: "Jost", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- Variabler för färger --- */
  --body-color: #5a5a5a;
  --secondary-color: #01001a;
  --primary-color: #0160ff;
  --white-color: #f7f7f7;
  --title-color: #1b3764;
}

* {
  margin: 0;
  padding: 0;
}

p {
  color: var(--body-color);
}

a {
  font-weight: 500;
  color: var(--title-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--secondary-color);
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.25s ease;
}
button:hover {
  background-color: var(--secondary-color);
}

/* --- Header --- */

.logo {
  font-size: 1.5rem;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.header-left,
.header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-right .search-container {
  border: 1px solid #ebeaea;
  border-radius: 25px;
  overflow: hidden;
  padding: 4px;
  box-shadow: 0px 0px 10px #00000010;
}

.header-right button {
  color: #000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0.2rem 1rem;
}

.header-right input {
  background: none;
  border: none;
  padding-left: 1rem;
  color: #000000;
  outline: 0;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

/* --- Hero --- */

.hero-section {
  padding: 8rem 0 3rem;
  background-color: var(--white-color);
  width: 100%;
}

.hero-content {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.hero-left {
  width: 50%;
}

.hero-section h1 {
  font-size: 80px;
  font-weight: 600;
}

.hero-section h3 {
  color: var(--title-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.hero-section button {
  margin-top: 1rem;
}

/* --- All books --- */

.books-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  border: 1px solid #01001a20;
  padding: 1rem;
  border-radius: 8px;
}

.product-card h3 {
  color: var(--title-color);
}

.product-card p {
  color: var(--secondary-color);
}

.product-card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* --- Product page --- */

.product {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
  justify-content: space-between; 
}

.product img {
  width: 300px; 

}

.product-info {
  width: 60%; 
}




/* --- Cart --- */

#cartContainer {
  padding-top: 8rem;
  max-width: 1280px;
  margin: 0 auto;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background-color: var(--white-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 2rem;
  overflow-y: auto;
}

.cart-sidebar li,
.cart-sidebar h2 {
  color: #000000;
}

.cart-sidebar.open {
  right: 0;
}

.cart-sidebar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.close-btn {
  position: relative;
  left: 250px;
  color: var(--secondary-color);
  background: transparent;
}

.close-btn:hover {
  background: transparent;
}

.to-cart-btn {
  margin-top: 2rem;
}

.product-in-cart {
  display: flex;
  margin: 2rem 0;
}
@media (max-width: 1100px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  /* Index */
  .books-container {
    grid-template-columns: 1fr;
  }
  
  .hero-section h1 {
    font-size: 2rem;
  }
  .hero-section .hero-content img {
    width: 50%;
  }
  .hero-content {
    margin: 10px;  
  }
  .product-card img {
    width: 100%;
    height: auto;
  }

  /* Produktsidan */
  .product img {
    width: 50%;
    height: 50%;
  }
  .product-info {
    margin: 10px;
  }
  .product-info h1 {
    font-size: 40px;
  }
}
/* Hamburger */
.menu-icon {
  display: none;
}
.menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #fff;
  width: 100%;
 }
 .menu li {
  padding: 1rem;
  border-bottom: 1px solid #000000;
 }
@media (max-width:760px) {
 .header-left nav ul, 
 .header-right .search-container, 
 .header-right .shoppingCart {
  display: none;
 }
  .menu-icon  {
  display: block;
  cursor: pointer;
 }
 .menu-icon span {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  background-color: #000000;
 }
 .menu.active {
  display: block;
  list-style: none; 
 }
}