:root {
  font-family: "Jost", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- Variabler för färger --- */
  --body-color: #5a5a5a;
  --secondary-color: #01001a;
  --primary-color: #0160ff;
  --white-color: #f7f7f7;
  --title-color: #1b3764;
}

* {
  margin: 0;
  padding: 0;
}

p {
  color: var(--body-color);
}

a {
  font-weight: 500;
  color: var(--title-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--secondary-color);
}
h2 {
  font-size: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.25s ease;
}
button:hover {
  background-color: var(--secondary-color);
}

/* --- Header --- */

.logo {
  font-size: 1.5rem;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.header-left,
.header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-right .search-container {
  border: 1px solid #ebeaea;
  border-radius: 25px;
  overflow: hidden;
  padding: 4px;
  box-shadow: 0px 0px 10px #00000010;
}

.header-right button {
  color: #000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0.2rem 1rem;
}

.header-right input {
  background: none;
  border: none;
  padding-left: 1rem;
  color: #000000;
  outline: 0;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

/* --- Hero --- */

.hero-section {
  padding: 8rem 0 3rem;
  background-color: var(--white-color);
  width: 100%;
}

.hero-content {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.hero-left {
  width: 50%;
}

.hero-section h1 {
  font-size: 80px;
  font-weight: 600;
}

.hero-section h3 {
  color: var(--title-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.hero-section button {
  margin-top: 1rem;
}

/* --- All books --- */

.books-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  border: 1px solid #01001a20;
  padding: 1rem;
  border-radius: 8px;
}

.product-card h3 {
  color: var(--title-color);
}

.product-card p {
  color: var(--secondary-color);
}

.product-card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* --- Product page --- */

.product {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 8rem;
}

.product p {
  color: var(--body-color);
}
